#header {
  position: relative;
  background: url(../images/header_bg.png) repeat-x left -25px;
  height: 100px;
}
#main {
  position: absolute;
  clear: both;
  width: 68%;
  border-right: 3px solid #e6e6e6;
  border-bottom: 3px solid #e6e6e6;
  background-color: #fff;
  padding-bottom: 40px;
}
#flashes {
  margin-top: -16px;
  /*height: 40px;*/
  height: 16px;
  background-color: white;
  text-align: center;
  font-weight: bold;
}
#content {
  padding: 10px 30px 20px 30px;
}
#sidebar {
  position: absolute;
  left: 70%;
  width: 27%;
  margin-top: 10px;
  /*padding-left: 30px;*/
}